server {
    listen 80;
    location /api {
       proxy_pass http://0.0.0.0:3000;
    }

    location /game {
        root /var/www/dist;
        #转发任何请求到 index.html
        index index.html;
    }

    location /webplayer {
        root /var/www/dist;
        #转发任何请求到 index.html
        index index.html;
    }
}
